body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,time{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,dfn,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
.shadowEmLight{-webkit-box-shadow:0 0 0 10px rgba(255, 255, 255, 0.25);-moz-box-shadow:0 0 0 10px rgba(255, 255, 255, 0.25);box-shadow:0 0 0 10px rgba(255, 255, 255, 0.25);}
.shadowInLight{-webkit-box-shadow:inset 0 0 0 4px rgba(255, 255, 255, 0.5);-moz-box-shadow:inset 0 0 0 4px rgba(255, 255, 255, 0.5);box-shadow:inset 0 0 0 4px rgba(255, 255, 255, 0.5);}
body{}
*,*:after,*:before{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding:0;margin:0;}
p,.p{font-size:18px;line-height:30px;margin-bottom:30px;}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{margin-bottom:30px;font-family:"Helvetica Neue";text-transform:uppercase;font-weight:400;}
h1,.h1{font-size:30px;line-height:30px;}
h2,.h2{font-size:22px;line-height:30px;}
h3,.h3{font-size:20px;line-height:30px;text-transform:none;}
h4,.h4{font-size:18px;line-height:30px;text-transform:none;}
h5,.h5{font-size:18px;line-height:30px;text-transform:none;}
h6,.h6{font-size:18px;line-height:30px;text-transform:none;}
time,.time{font-size:14.4px;font-weight:500;line-height:30px;color:#a19c91;}
a,.a{display:inline-block;font-size:inherit;font-weight:400;text-decoration:none;margin:0x;line-height:18px;color:#e46242;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;-ms-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}a:hover,.a:hover{color:#d5421e;}
blockquote{line-height:30px;margin-bottom:30px;width:750px;border-left:5px solid #cccccc;padding-left:25px;}blockquote p{font-size:19.8px;}
blockquote b{font-size:16.2px;color:#b3b3b3;font-weight:400;text-indent:0;display:block;}
strong,.strong{font-weight:600;color:#2d3a4a;}
em,.em{color:#2d3a4a;font-weight:400;}
pre{border:1px solid #e3e3e3 !important;padding:15px !important;font-size:16.2px !important;margin-bottom:30px !important;line-height:30px !important;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}pre code{border:none;background:none;padding:0;}
code{border:1px solid #eee;background:ghostwhite;padding:2px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
hr{padding:0;border:none;border-top:medium double #e4e4e4;color:#b1b1b1;text-align:center;-webkit-transition:all 1s linear;-moz-transition:all 1s linear;-o-transition:all 1s linear;-ms-transition:all 1s linear;transition:all 1s linear;cursor:pointer;}hr:hover{color:#989898;border-top-color:#cbcbcb;}
hr:after{content:"§";display:inline-block;position:relative;top:-0.7em;font-size:1.5em;padding:0 0.25em;background:white;}
ul,ol{margin-bottom:30px;}
ul{list-style:none;line-height:30px;}
.post{margin-bottom:60px;}.post >p:first-of-type{font-size:19.8px;line-height:30px;margin-bottom:30px;}
.post hgroup{}.post hgroup h1+time{position:relative;top:-30px;display:block;color:#333;}
html{background:#fff;font-size:62.5%;}html:hover{}
body{font-family:"Open Sans",Lato,serif;font-weight:300;color:#333;height:100%;padding-top:30px;}
.main,.sidebar .wrapper{margin-top:30px;width:780px;margin:0 auto;}
.main hgroup{position:relative;}.main hgroup a{color:#333;}
.main hgroup h2{text-transform:none;}
.main hgroup:hover a h2,.main hgroup:hover a time{font-weight:800;}
.main hgroup a time{position:absolute;top:0;right:0;}
.sidebar{background:ghostwhite;font-size:18px;padding:30px 0;margin-bottom:60px;border-bottom:1px solid #eee;border-top:1px solid #eee;}.sidebar ul{margin:0;}
.sidebar .logo,.sidebar li,.sidebar a,.sidebar nav{display:inline-block;background:transparent;color:#333;font-family:Lato;}.sidebar .logo .kaw,.sidebar li .kaw,.sidebar a .kaw,.sidebar nav .kaw{font-weight:800;}
.sidebar .logo .dev,.sidebar li .dev,.sidebar a .dev,.sidebar nav .dev{font-weight:400;color:#e46242;}
.sidebar li{padding-right:9px;}.sidebar li a{font-weight:300;color:#a19c91;}.sidebar li a:hover{color:#333;}
.sidebar li a .active{font-weight:400;color:#333;}
.sidebar .logo{font-size:20px;font-variant:small-caps;padding-right:9px;}.sidebar .logo .cap{font-size:1.3em;}
