@import "compass/reset";
@import "compass/typography/vertical_rhythm";
@import "variables";

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


// =============================================================================
// Global Styles
// =============================================================================

.pull-right {
  float: right;
}


// =============================================================================
// General Typography
// =============================================================================

.details li:not(:first-of-type) {
    border-top: 1px solid #efefef;
    @include rhythm(0, 1, 0, 0);
}

// Headings
h1, h2, h3, h4, h5, h6 {
    color: $h-color;
}
h1 {
    @include rhythm(1, 0, 0, 0, $h1-size);
    @include adjust-font-size-to($h1-size);
}
h2 {
    @include rhythm(1, 0, 0, 0, $h2-size);
    @include adjust-font-size-to($h2-size);
}
h3 {
    @include rhythm(1, 0, 0, 0, $h3-size);
    @include adjust-font-size-to($h3-size);
}

// Blocks
section, p, pre, ul, ol, iframe, hr {
  @include rhythm(1, 0, 0, 0);
}

// Inline
strong {
  font-weight: 800;
}

// Code
code, pre {
    font-family: 'inconsolata', Monaco, "Lucida Console", monospace;
    border-radius: 3px;
}

pre {
  /*@include adjust-font-size-to(16px, 3/4);*/
  padding: 5px 10px;
}

code {
    background-color: #efefef;
    padding: 2px 3px;
}

a {
    color: $aColor;
    text-decoration: none;
    &:hover, &.active {
        color: $aColorHover;
        text-decoration: underline;
    }
}

.muted {
    color: #ccc;
}

ul.unstyled {
    list-style-type: none;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
}

em {
    font-style: italic;
}

.home {
    padding-top: 3 * $base-line-height;
}


