// =============================================================================
// Structure
// =============================================================================

.container-narrow {
  margin: 0 auto;
  max-width: $total-width;
  font-family: "Open Sans";
  color: #444;
}

nav, aside {
    width: $navigation-width;
    float: left;
    text-align: right;
    padding-right: 2 * $base-line-height;
    padding-top: 3 * $base-line-height;

    a {
        color: $h-color;
    }
}


.site {
    padding-top: 3 * $base-line-height;
    padding-bottom: 3 * $base-line-height;
    width: $content-width;
    float: left;

    & > .meta {
        margin-top: 0;
    }
}

