@import "compass/reset";
@import "compass/typography/vertical_rhythm";

@import "variables";

@import "skin";

@import "structure";

section {
    position: relative;

    li {
        text-indent: -1em;
        padding-left: 1em;
    }

    .info {
        position: absolute;
        right: 0;
        top: 0;
        text-align: right;
    }

    & + section {
        border-top: 1px solid #efefef;
        .info {
            top: $base-line-height;
        }
    }
}

aside li {
    @include rhythm(1, 0, 0, 0);
}

@media (max-width: $total-width + 50)  {

    .site {
        padding: $base-line-height;
        padding-top: 0;

        width: 100%;

        .home {
            padding-top: 0;
        }
    }

    h2 {
        text-align: center;
    }

    aside {
        padding: $base-line-height;
        padding-bottom: 0;

        width: 100%;
        h1, .brevity { display: none; }

        h1 {
            text-align: center;
        }

        li {
            @include adjust-font-size-to($base-font-size - 2);
            width: 33%;
            float: left;
            text-align: center;
            padding-left: $base-line-height;
            @include rhythm(1, 0, 0, 0, $base-font-size - 2);
        }
    }
}
