

<section class="sidebar">
    <div class="wrapper">
        <a class="logo" href="/"><span class="kaw"><span class="cap">k</span>aw</span><span class="dev"><span class="cap">d</span>ev</span></a>
        <nav>
            <ul>
                <li><a href="/posts/">Posts</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/videos.html">Videos</a></li>
                <li><a href="https://github.com/kaw2k">GitHub</a></li>
            </ul>
        </nav>
    </div>
</section><!-- sidebar -->
