<js>
    this.nav = [
        {url: '~', link: 'Posts'},
        {url: '~about', link: 'About'},
        {url: '~projects', link: 'Projects'},
        //{url: '~videos', link: 'Videos'},
        {url: 'https://github.com/kaw2k', link: 'GitHub'}
    ];

    _.each(this.nav, function(el) {
        if(this.navActive && el.link === this.navActive) {
            el.active = true;
        }
    }, this);
</js>

<section class="navigation">
    <div class="wrapper">
        
        <nav>
            <ul>
              <li><a class="logo" href="~"><span class="Kaw"><span class="cap">k</span>aw</span><span class="Dev"><span class="cap">d</span>ev</span></a></li>
              {{#nav}}
              <li><a {{#active}}class="active"{{/active}} href="{{url}}">{{link}}</a></li>
              {{/nav}}
            </ul>
        </nav>
    </div>
</section><!-- navigation -->
