/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 66, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.75em;
}

/* line 6, ../sass/_fonts.sass */
body {
  font-family: adelle;
  color: #555555;
}

/* line 12, ../sass/_fonts.sass */
h1, h2, h3, h4, h5, h6 {
  color: #444444;
  font-family: "proxima-nova";
  font-weight: 600;
}

/* line 18, ../sass/_fonts.sass */
h1 {
  font-size: 2.625em;
  line-height: 1.33333em;
}

/* line 20, ../sass/_fonts.sass */
h2 {
  margin-top: 1.16667em;
  font-size: 1.5em;
  line-height: 1.16667em;
}

/* line 23, ../sass/_fonts.sass */
h3 {
  font-size: 1.25em;
  line-height: 1.4em;
}

/* line 27, ../sass/_fonts.sass */
p + p {
  margin-top: 1.75em;
}

/* line 32, ../sass/_fonts.sass */
strong {
  font-weight: bold;
  color: #3b3b3b;
}

/* line 35, ../sass/_fonts.sass */
em {
  font-style: italic;
}

/* line 39, ../sass/_fonts.sass */
a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #e46242;
  text-decoration: none;
}
/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #be3b1b;
}

/* line 46, ../sass/_fonts.sass */
ul, ol {
  margin-top: 1.75em;
  margin-bottom: 1.75em;
  margin-left: 10px;
  list-style-position: inside !important;
}

/* line 52, ../sass/_fonts.sass */
ul {
  list-style: square;
}

/* line 55, ../sass/_fonts.sass */
ol {
  list-style: decimal;
}

/* line 61, ../sass/_fonts.sass */
hr {
  margin-top: 1.75em;
  margin-bottom: 1.75em;
  border: none;
  border-bottom: 1px solid #eeeeee;
}

/* line 9, ../sass/_structure.sass */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/_structure.sass */
.main, .navigation .wrapper {
  width: 600px;
  margin: 0 auto;
}

/* line 24, ../sass/_structure.sass */
.navigation {
  font-size: 1.25em;
  line-height: 1.4em;
  margin-bottom: 1.75em;
  border-bottom: 1px solid #eeeeee;
}
/* line 29, ../sass/_structure.sass */
.navigation .wrapper {
  display: table;
  text-align: center;
}
/* line 33, ../sass/_structure.sass */
.navigation li {
  display: inline-block;
  padding-right: 30px;
}
/* line 37, ../sass/_structure.sass */
.navigation a:not(.logo) {
  color: #888888;
  text-decoration: none;
}
/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.navigation a:not(.logo):hover {
  color: #555555;
}
/* line 41, ../sass/_structure.sass */
.navigation a:not(.logo).active {
  color: #555555;
}

/* line 47, ../sass/_structure.sass */
.post hgroup {
  margin-bottom: 1.75em;
}
/* line 50, ../sass/_structure.sass */
.post hgroup h1, .post hgroup time {
  text-align: center;
  display: block;
}
/* line 54, ../sass/_structure.sass */
.post hgroup time {
  color: #999999;
  font-style: italic;
}

/* line 60, ../sass/_structure.sass */
.post p:first-of-type {
  font-size: 1.125em;
  line-height: 1.55556em;
}

/* line 63, ../sass/_structure.sass */
.post-navigation {
  overflow: hidden;
  *zoom: 1;
  margin-top: 1.75em;
}

/* line 67, ../sass/_structure.sass */
.next {
  float: right;
}

/* line 70, ../sass/_structure.sass */
.previous {
  float: left;
}
