<data>
{
    "navActive": "Posts"
}
</data>

<js>
var posts = site.orderedPosts();
var i;


for(i = 0; i < posts.length; i++) {
    if (posts[i].id === this.id) {
        break;
    }
}
this.postPrevious = (i+1 >= posts.length) ? null : posts[i+1];
this.postNext = (i-1 < 0) ? null : posts[i-1];
</js>

<!-- @partial('header') -->

<!-- @partial('nav') -->

<section class="main">

    <section class="post">

        <hgroup>
            <h1>{{title}}</h1>
            <time>{{date.string}}</time>
        </hgroup>

        <!-- @place('post') -->

    </section>
    
    <div class="post-navigation">
        {{#postPrevious}}
            <a class="previous" href="{{url}}">&larr; {{title}}</a>
        {{/postPrevious}}

        {{#postNext}}
            <a class="next" href="{{url}}">{{title}} &rarr;</a>
        {{/postNext}}
    </div>

    <!-- @partial('disqus') -->

</section>

<!-- @partial('footer') -->
