<data>
{
    "navActive": "Posts"
}
</data>

<js>
var posts = site.orderedPosts();

var postIndex;

for(var i = 0; i < posts.length; i++) {
    if (posts[i].id === this.id) {
        postIndex = i;
        break;
    }
}
this.postPrevious = (i+1 >= posts.length) ? null : posts[i+1];
this.postNext = (i-1 < 0) ? null : posts[i-1];


</js>

<!-- @partial('header') -->

<!-- @partial('nav') -->

<section class="main">

    <section class="post">

        <hgroup>
            <time>{{date.string}}</time>
            <h1>{{title}}</h1>
        </hgroup>

        <!-- @place('post') -->

    </section>
    
    <div class="post-navigation">
        {{#postPrevious}}
        <p class="previous">
            <a href="~{{urlFull}}">&larr; {{title}}</a>
        </p>
        {{/postPrevious}}

        {{#postNext}}
        <p class="next">
            <a href="~{{urlFull}}">{{title}} &rarr;</a>
        </p>
        {{/postNext}}
    </div>

    <!-- @partial('disqus') -->

</section>

<!-- @partial('footer') -->
